{% if request.session.user_level == 'Superadmin' %}
{% include 'superadmin_base.html' %}
{% elif request.session.user_level == 'Admin' %}
{% include 'admin_base.html' %}
{% elif request.session.user_level == 'User' %}
{% include 'faculty_base.html' %}
{% endif %}
{% block content %}
<div class="content" style="background-color: gainsboro;">
    <header class="h-20" style="width: 90vw; height: 67px; text-align: center; background-color: #61B15A;">
        <h1>Accreditation Management System</h1>
    </header>
    <br>
    <br>
    <h1 class="m-5">Parameter F</h1>
    <div class="p-10">

        {% if 'I.1.1' in needed_datas and 'I.1.2' in needed_datas and 'I.1.3' in needed_datas and 'I.1.4' in needed_datas and 'I.1.5' in needed_datas and 'I.1.6' in needed_datas and 'I.1.7' in needed_datas and 'I.1.8' in needed_datas and 'I.2' in needed_datas and 'I.3' in needed_datas and 'I.4' in needed_datas and 'I.5' in needed_datas and 'I.7' in needed_datas and 'I.8' in needed_datas and 'I.9' in needed_datas and 'I.10' in needed_datas %}
        <button class="button primary" style="height: 50px;" onclick="generateFileArea2ImplementationParameterF()">Generate</button>
        {% else %}
        <button class="button primary" style="height: 50px;" onclick="errorGenerate()">Generate</button>
    {% endif %}
    </div>
<div class="folders p-5" style="display: flex;">
    <div style="width: 50%; padding: 10px;">
    <h5>Files</h5>
    <table class="table stripped" data-role="table" style="background-color: white;" data-horizontal-scroll="true">
        <thead>
            <tr>
                <th>Image</th>
                <th>File Name</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for uploaded_file in uploaded_data %}
            <tr>
                <td><img src="{{uploaded_file.storage_file_url}}" width="100%" style="margin: auto;text-align:center"/></td>
                <td>{{uploaded_file.file_name}}</td>
                <td>{{uploaded_file.category}}</td>
                <td><button class="button mif-eye icon primary" onclick="Metro.dialog.open('#open_file'), save_url('{{uploaded_file.storage_file_url}}')"> View</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div style="width: 50%; padding: 10px;">
        <h5>Generated</h5>
        <table class="table stripped" data-role="table" style="background-color: white;" data-horizontal-scroll="true">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Date Generated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for powerpoint in generated_data %}
                <tr>
                    <td>{{powerpoint.file_name}}</td>
                    <td>{{powerpoint.date}}</td>
                    <td><button class="button mif-eye icon primary" onclick="viewPowerPoint('{{powerpoint.storage_file_url}}')"> View</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</div>
<div class="dialog w-50 h-100" data-role="dialog" id="open_file">
    <div class="dialog-title"></div>
    <div class="dialog-content" style="text-align: center; height: 100%;">
        <img src="#" alt="" id="image" style="width: 100%; height: 100%;">
    </div>
    <div class="dialog-actions">
        <button class="button js-dialog-close">Close</button>
    </div>
</div>

<script>
    function save_url(url){
        $('#image'). attr('src',url)
    }
</script>
{% endblock %}