{% include 'superadmin_base.html' %}
{% block content %}
<div class="content" style="background-color: gainsboro;">
    <header class="h-20" style="width: 90vw; height: 67px; text-align: center; background-color: #61B15A;">
        <h1>Accreditation Management System</h1>
    </header>
    <br>
    <br>
    <h1 class="m-5">Area 5</h1>
    <div class="p-10">
        <button class="mif-sort-asc icon" style="width: 50px; height: 50px;"></button>
    </div>
<div class="folders p-5">
    
    <div class="more-info-box bg-white fg-black w-25 m-5" style="float: left;">
        <div class="content">
            <!-- <h2 class="text-bold mb-0">53%</h2> -->
            <div>Implementation</div>
        </div>
        <div class="icon">
            <span class="mif-chart-bars"></span>
        </div>
        <a href="{% url 'level1/area5/implementation' %}" class="more fg-black"> Open <span class="mif-arrow-right"></span></a>
    </div>

    <div class="more-info-box bg-white fg-black w-25 m-5" style="float: left;">
        <div class="content">
            <!-- <h2 class="text-bold mb-0">53%</h2> -->
            <div>System</div>
        </div>
        <div class="icon">
            <span class="mif-chart-bars"></span>
        </div>
        <a href="{% url 'level1/area5/system' %}" class="more fg-black"> Open <span class="mif-arrow-right"></span></a>
    </div>

    <div class="more-info-box bg-white fg-black w-25 m-5" style="float: left;">
        <div class="content">
            <!-- <h2 class="text-bold mb-0">53%</h2> -->
            <div>Outcome</div>
        </div>
        <div class="icon">
            <span class="mif-chart-bars"></span>
        </div>
        <a href="{% url 'level1/area5/outcome' %}" class="more fg-black"> Open <span class="mif-arrow-right"></span></a>
    </div>
</div>
</div>
{% endblock %}