{% include 'superadmin_base.html' %}
{% block content %}
<div class="content" style="background-color: gainsboro;">
    <header class="h-20" style="width: 90vw; height: 67px; text-align: center; background-color: #61B15A;">
        <h1>Accreditation Management System</h1>
    </header>
    <br>
    <br>
    <h1 class="m-5">Parameter H</h1>
    <div class="p-10">
        {% if 'S.1' in needed_datas %}
        <button class="button primary" style="height: 50px;" onclick="generateFileArea2SystemParameterH()">Generate</button>
        {% else %}
        <button class="button primary" style="height: 50px;" onclick="errorGenerate()">Generate</button>
    {% endif %}
    </div>
<div class="folders p-5" style="display: flex;">
    <div style="width: 50%; padding: 10px;">
    <h5>Files</h5>
    <table class="table stripped" data-role="table" style="background-color: white;">
        <thead>
            <tr>
                <th>Image</th>
                <th>File Name</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for uploaded_file in uploaded_data %}
            <tr>
                <td><img src="{{uploaded_file.storage_file_url}}" width="100%" style="margin: auto;text-align:center"/></td>
                <td>{{uploaded_file.file_name}}</td>
                <td>{{uploaded_file.category}}</td>
                <td><button class="button mif-eye icon primary"> View</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div style="width: 50%; padding: 10px;">
        <h5>Generated</h5>
        <table class="table stripped" data-role="table" style="background-color: white;">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Date Generated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for powerpoint in generated_data %}
                <tr>
                    <td>{{powerpoint.file_name}}</td>
                    <td>{{powerpoint.date}}</td>
                    <td><button class="button mif-eye icon primary" onclick="viewPowerPoint('{{powerpoint.storage_file_url}}')"> View</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</div>
{% endblock %}