{% if request.session.user_level == 'Admin' %}
{% include 'superadmin_base.html' %}
{% elif request.session.user_level == 'User' %}
{% include 'faculty_base.html' %}
{% endif %}
{% block content %}
<div class="content" style="background-color: gainsboro;">
    <header class="h-20" style="width: 90vw; height: 67px; text-align: center; background-color: #61B15A;">
        <h1>Accreditation Management System</h1>
    </header>
    <br>
    <br>
    <h1 class="m-5">Recycle Bin</h1>
    <div class="p-5">
        <button class="button success mif-refresh"> Retrieve all</button>
        <button class="button alert mif-warning"> Delete All</button>
    </div>
    <div class="p-5 w-75">
        <table class="table bg-white">
            <thead>
            <tr>
                <th>#</th>
                <th class="sortable-column sort-asc">Date and Time</th>
                <th >File Name</th>
                <th >User</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>January 1, 2022</td>
                <td>Juan Dela Cruz</td>
                <td>Example@gmail.com</td>
                <td>
                    <button class="button success mif-refresh"> Retrieve</button>
                    <button class="button alert mif-bin"> Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
</div>

{% endblock %}
