{% if request.session.user_level == 'Superadmin' %}
{% include 'superadmin_base.html' %}
{% elif request.session.user_level == 'Admin' %}
{% include 'admin_base.html' %}
{% elif request.session.user_level == 'User' %}
{% include 'faculty_base.html' %}
{% else %}
{% include 'accreditor_base.html' %}
{% endif %}
{% block content %}
<div class="content" style="background-color: gainsboro;">
    <header class="h-20" style="width: 90vw; height: 67px; text-align: center; background-color: #61B15A;">
        <h1>Accreditation Management System</h1>
    </header>
    <br>
    <br>
    <h1 class="m-5">Storage Drive</h1>
    <div class="p-10">
        <button class="mif-sort-asc icon" style="width: 50px; height: 50px;"></button>
        <button class="button primary" style="float: right; height: 50px; width: 200px;"  onclick="Metro.dialog.open('#demoDialog1')">Upload</button>
    </div>
<div class="folders p-5">
    
    <div class="more-info-box bg-white fg-black w-25 m-5" style="float: left;">
        <div class="content">
            <!-- <h2 class="text-bold mb-0">53%</h2> -->
            <div>Level 1</div>
        </div>
        <div class="icon">
            <span class="mif-chart-bars"></span>
        </div>
        <a href="{% url 'level1'  %}" class="more fg-black"> Open <span class="mif-arrow-right"></span></a>
    </div>
</div>
</div>

<!--Modal for upload-->
<div class="dialog w-25" data-role="dialog" id="demoDialog1">
    <form action="/upload_storage_drive/" method="post" enctype="multipart/form-data" id="drive_form">
        {% csrf_token %}
    <div class="dialog-title">UPLOAD FILE</div>
    <div class="dialog-content" style="overflow-y: auto;">
        <input type="file" data-role="file" data-mode="drop" name="drive_upload" id="drive_upload" required>
        <hr>
        Level:
        <select data-role="select" name="selectLevel" id="selectLevel" onchange="dynamicFields()"  form="drive_form" required>
                <option value="Level 1">Level 1</option>
                <option value="Level 2">Level 2</option>
        </select>
        <hr>
        Area:
        <select data-role="select" name="selectArea" id="selectArea" onchange="dynamicFields()" form="drive_form" required>
                <option value="Area 1">Area 1</option>
                <option value="Area 2">Area 2</option>
                <option value="Area 3">Area 3</option>   
                <option value="Area 4">Area 4</option>   
                <option value="Area 5">Area 5</option>   
                <option value="Area 6">Area 6</option>   
        </select>
        <hr>
        Parameter:
        <div class="appendHereParameter">
            <div class="appendedFieldParameter">
            <select data-role="select" name="selectParameter" id="selectParameter" form="drive_form" onchange="dynamicFields()" required>
                <option value="Parameter A">Parameter A</option>
                <option value="Parameter B">Parameter B</option>   
                <option value="Parameter C">Parameter C</option> 
                <option value="Parameter D">Parameter D</option> 
                <option value="Parameter E">Parameter E</option> 
                <option value="Parameter F">Parameter F</option> 
                <option value="Parameter G">Parameter G</option> 
                <option value="Parameter H">Parameter H</option> 
            </select>
            </div>
        </div>
        <hr>
        Category:
        <select data-role="select" name="selectCategory" id="selectCategory" form="drive_form" onchange="dynamicFields()" required>
            <option value="System">System</option>
            <option value="Outcomes">Outcomes</option>
            <option value="Implementation">Implementation</option>
        </select>
        <hr>
        Upload in:
        <div class="appendHere">
            <div class="appendedField">
                <select data-role="select" name="uploadIn" id="uploadIn" form="drive_form" required>
                    <option value="S.1">S.1 The Institution has a system of determining the Vision and Mission</option>
                    <option value="S.2">S.2 The Vision Clearly Reflects what the institution hopes to become in the Future</option>
                    <option value="S.3">S.3 The Mission reflects the Institution's legal and other statutory mandates</option>
                    <option value="S.4">S.3 The Goals of  the College/  Academic Units are  consistent with the  Mission of the  Institution.</option>
                    <option value="S.5.1">S.5.1 Technical Skills</option>
                    <option value="S.5.2">S.5.2 Research and Extension Capabilities</option>
                    <option value="S.5.3">S.5.3 Students' own  ideas, desirable  attitudes and  personal discipline</option>
                    <option value="S.5.4">S.5.4 Moral  character</option>
                    <option value="S.5.5">S.5.5 Critical, analytical, problem solving, and other higher order thinking skills</option>
                    <option value="S.5.6">S.5.6 aesthetic and  cultural values</option>
                </select>
                </div>
        </div>
       
        <hr>

        Year:
        <select data-role="select" name="selectDate" id="selectDate" form="drive_form" required>
            <option value="2020">2020</option>
        </select>
        <hr>
        <p>Auto Generated Filename Preview:</p>
        <input type="text" name="fileName" id="fileName" data-role="input" readonly placeholder="Auto Generated Filename Preview" required>
    </div>
    <div class="dialog-actions">
        <button class="button js-dialog-close">Cancel</button>
        <button type="submit" id="uploadBtn">Upload</button>
    </div>
</form>
</div>
{% endblock %}