{% include 'superadmin_base.html' %}
{% block content %}
<br>
<br>

<div  class="content" style="background-color: gainsboro;">
    <header class="h-20" style="width: 90vw; height: 67px; text-align: center; background-color: #61B15A;">
        <h1>Accreditation Management System</h1>
    </header>
    <h1 class="m-5">Department Name</h1>
    
    <div class="p-20">
        {% csrf_token %}
        
        {% if department == 'IT' %}
        <select data-role="select" class="w-25" id="selectDepartment">
            <option value="IT" selected>IT Department</option>
            <option value="HRM">HRM Department</option>
            <option value="TOURISM">Tourism Department</option>
            <option value="EDUC">Education Department</option>
        </select>
        {% elif department == 'HRM'%}
        <select data-role="select" class="w-25" id="selectDepartment">
            <option value="IT">IT Department</option>
            <option value="HRM" selected>HRM Department</option>
            <option value="TOURISM">Tourism Department</option>
            <option value="EDUC">Education Department</option>
        </select>
        {% elif department == 'TOURISM'%}
        <select data-role="select" class="w-25" id="selectDepartment">
            <option value="IT">IT Department</option>
            <option value="HRM">HRM Department</option>
            <option value="TOURISM" selected>Tourism Department</option>
            <option value="EDUC">Education Department</option>
        </select>
        {% elif department == 'EDUC'%}
        <select data-role="select" class="w-25" id="selectDepartment">
            <option value="IT">IT Department</option>
            <option value="HRM">HRM Department</option>
            <option value="TOURISM">Tourism Department</option>
            <option value="EDUC" selected>Education Department</option>
        </select>
        {% endif %}
            
       
        <br>
        <button class="button primary" onclick="Metro.dialog.open('#add_account')">Add Account</button>
        <br>
        <br>
        <table class="table striped" data-role="table" data-rows-steps="5, 10" data-rows="5">
            <thead>
                <tr>
                    <th  class="sortable-column sort-asc">Activity Status</th>
                    <th  class="sortable-column sort-asc">Access Rights</th>
                    <th class="sortable-column sort-asc">Name</th>
                    <th  class="sortable-column sort-asc">Email</th>
                    <th class="sortable-column sort-asc">Contact No.</th>
                    <th class="sortable-column sort-asc">Address</th>
                    <th class="sortable-column sort-asc">User Level</th>
                    <th class="sortable-column sort-asc">Edit</th>
                </tr>
                </thead>
                <tbody>
                <!-- <div class="account_data_modal"> -->
                    {% for user in user_data %}
                    <tr>
                        <td>{{user.active_status}}<s/td>
                        <td class="info">{{user.access_rights}}</td>
                        <td>{{user.firstname}} {{user.middlename}} {{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td class="info">{{user.contact}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.user_level}}</td>
                        <td><button class="button success" onclick="Metro.dialog.open('#edit_account'), editModal('{{user.user_id}}','{{user.firstname}}','{{user.middlename}}','{{user.lastname}}','{{user.email}}','{{user.contact}}','{{user.address}}')">Edit</button></td>
                    </tr>
                
                    {% endfor %}
                        <!-- <tr>
                            <td>Active Now</td>
                            <td class="info">???</td>
                            <td>Kenneth Galvez</td>
                            <td>sample@gmail.com</td>
                            <td>zxayhcnsauqfasd(Encrypted - SHA256)</td>
                            <td class="info">09293006635</td>
                            <td>Marilao, Bulacan</td>
                            <td>Administrator</td>
                            <td><Button class="button success" >Edit</Button></td>
                        </tr> -->
                    
                 
                <!-- </div> -->
            </tbody>
        </table>
    </div>
</div>

<div class="dialog" data-role="dialog" id="add_account">
    <form id="addAccountForm" method="post">
     {% csrf_token %}
        <div class="dialog-title"></div>
        <div class="dialog-content">
            <p>USER LEVEL</p>
            <input type="radio" data-role="radio" name="access_rights" id="admin" value="Admin"> Admin
            <input type="radio" data-role="radio" checked name="access_rights" id="user" value="User"> User
            <br>
            <label for="first name">First Name:</label>
            <input type="text" data-role="input" name="firstname" id="firstname" required>
            <label for="first name">Middle Name:</label>
            <input type="text" data-role="input" name="middlename" id="middlename" required>
            <label for="first name">Last Name:</label>
            <input type="text" data-role="input" name="lastname" id="lastname" required>
            <label for="first name">Email:</label>
            <input type="email" data-role="input" name="email" id="email" required>
            <label for="first name">Password :</label>
            <input type="password" data-role="input" data-reveal-button="true" name="password" id="password" required>
            <label for="first name">Confirm password:</label>
            <input type="password" data-role="input" data-reveal-button="true" name="confirm_password" id="confirm_password" required>
            <label for="first name">Contact No::</label>
            <input type="number" data-role="input" data-prepend="+63" name="contact" id="contact" required>
            <label for="first name">Address:</label>
            <input type="text" data-role="input" name="address" id="address" required>
            <label for="first name">Date of Birth:</label>
            <input type="date" id="birthdate" data-role="input" required>
        </div>
        <div class="dialog-actions">
            <button type="button" class="button js-dialog-close">Cancel</button>
            <button type="submit" class="button primary js-dialog-close" id="addAccountBtn">Save</button>
        </div>
    </form>
</div>

<div class="dialog" data-role="dialog" id="edit_account">
    <form id="edit_addAccountForm" method="post">
     {% csrf_token %}
        <div class="dialog-title"></div>
        <div class="dialog-content">
            <p>USER LEVEL</p>
            <input type="radio" data-role="radio" name="edit_access_rights" id="edit_admin" value="Admin"> Admin
            <input type="radio" data-role="radio" checked name="edit_access_rights" id="edit_user" value="User"> User
            <br>
            <label for="first name">First Name:</label>
            <input type="text" data-role="input" name="edit_firstname" id="edit_firstname" required>
            <label for="first name">Middle Name:</label>
            <input type="text" data-role="input" name="edit_middlename" id="edit_middlename" required>
            <label for="first name">Last Name:</label>
            <input type="text" data-role="input" name="edit_lastname" id="edit_lastname" required>
            <label for="first name">Email:</label>
            <input type="email" data-role="input" name="edit_email" id="edit_email" readonly required>
            <label for="first name">Contact No::</label>
            <input type="number" data-role="input" data-prepend="+63" name="edit_contact" id="edit_contact" required>
            <label for="first name">Address:</label>
            <input type="text" data-role="input" name="edit_address" id="edit_address" required>
            <label for="first name">Date of Birth:</label>
            <input type="date" id="edit_birthdate" data-role="input" required>

            <input type="hidden" id="edit_user_id" >
        </div>
        <div class="dialog-actions">
            <button type="button" class="button js-dialog-close">Cancel</button>
            <button type="submit" class="button primary js-dialog-close" id="edit_addAccountBtn">Save</button>
        </div>
    </form>
</div>
{% endblock %}