{% include 'superadmin_base.html' %}
{% block content %}
<div  class="content" style="background-color: gainsboro;">
    <header class="h-20" style="width: 90vw; height: 67px; text-align: center; background-color: #61B15A;">
        <h1>Accreditation Management System</h1>
    </header>
    <h1 class="m-5">Feedbacks</h1>
    <div class="p-20">
        <br>
        <table class="table striped" data-role="table" data-rows-steps="5, 10" data-rows="5">
            <thead>
                <tr>
                    <th  class="sortable-column sort-asc">#</th>
                    <th  class="sortable-column sort-asc">Name</th>
                    <th class="sortable-column sort-asc">Feedback Content</th>
                    <th  class="sortable-column sort-asc">Date</th>
                </tr>
                </thead>
                <tbody>
                        {% for doc in feedbacks %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td class="info" >{{doc.accreditor_name}}</td>
                            <td>{{doc.content}}</td>
                            <td>{{doc.date_created}}</td>
                        </tr>
                        {% endfor %}
                    
                 
                <!-- </div> -->
            </tbody>
        </table>
    </div>
</div>

{% endblock %}