{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  .content{
    margin: 10%;
}
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="content">

  <input type="hidden" value="{{success}}" id="validation">
    <form action="/forgot_password/" method="post">
        <div class="mb-3">
          {% csrf_token %}
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="forgot_pass_email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">Enter your Email address to receive a request change password.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<script type="text/javascript" defer>
   $( document ).ready(function() {
        console.log($('#validation').val());
        if($('#validation').val() == 'Email Not Found!'){
          Swal.fire({
            icon: 'error',
            title: 'Email Not Found!',
          })
        }
        if($('#validation').val() == 'Successfully Sent To Your Email'){
          Swal.fire({
            icon: 'success',
            title: 'Password Reset Successfully Sent To Your Email',
            confirmButtonText: 'OKAY',
          })
        }
      });
</script>
{% endblock content %}