{% if request.session.user_level == 'Superadmin' %}
{% include 'superadmin_base.html' %}
{% elif request.session.user_level == 'Admin' %}
{% include 'admin_base.html' %}
{% elif request.session.user_level == 'User' %}
{% include 'faculty_base.html' %}
{% else %}
{% include 'accreditor_base.html' %}
{% endif %}

{% if validation %}
<script>
    Swal.fire({
  text: "{{validation}}",
  icon: 'success',
  showClass: {
    popup: 'animate__animated animate__fadeInDown'
  },
  hideClass: {
    popup: 'animate__animated animate__fadeOutUp'
  }
})
</script>
{% endif %}
{% block content %}
<br>
<br>
<div class="content" style="background-color: gainsboro;">
    <header class="h-20" style="width: 90vw; height: 67px; text-align: center; background-color: #61B15A;">
        <h1>Accreditation Management System</h1>
    </header>
    <h1 class="m-5">Homepage</h1>
    <div class="m-5" style="width: 70vw;"
                data-role="carousel" 
                data-cls-bullet="bullet-big"
                data-duration = "1500"
                data-auto-start="true"
                data-cls-controls="fg-white"
                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">
                <div class="slide" data-cover="../static/images/image1.jpg"></div>
                    <div class="slide p-2 pl-10 pr-10" data-cover="images/bg-4.jpg">
                        <div class="row flex-align-center h-100">
                            <div class="cell-md-8 w-100">
                                <p> <h1>Vision</h1><br><br><br><p class="indent-letter">The Bulacan State University is a progressive knowledge generating institution globally recognized for excellent instruction, pioneering research and responsive community engagement.</p></p>
                            </div>
                        </div>
                    </div>
                    <div class="slide" data-cover="../static/images/image2.jpg"></div>
                    <div class="slide p-2 pl-10 pr-10" data-cover="images/bg-4.jpg">
                        <div class="row flex-align-center h-100">
                            <div class="cell-md-8 w-100">
                                <p ><h1>Mision</h1> <br><br><br><p class="indent-letter">The Bulacan State University exists to produce highly competent, ethical and service-oriented professionals that contribute to the sustainable socio-economic growth and development of the nation.</p></p>
                            </div>
                        </div>
                    </div>
                    <div class="slide" data-cover="../static/images/image3.jpg"></div>
                    <div class="slide p-2 pl-10 pr-10" data-cover="images/bg-4.jpg">
                        <div class="row flex-align-center h-100">
                            <div class="cell-md-8">
                                <p><h1>Goals and <br><br>Objectives</h1><br><br><p class="indent-letter">
                                    <ol style="list-style-type:number">
                                        <li>Provide Relevant Quality and Accessible Education;</li>
                                        <li>Provide Innovative and Responsive Research and Extension Programs;</li>
                                        <li>BulSU in Regional Development;</li>
                                        <li>Sound Financial Management and Resource Generation; </li>
                                        <li>Good Governance</li>
                                    </ol>
                                </p></p>
                                
                            </div>
                        </div>
                    </div>
            </div>
</div>
{% endblock %}