{% if request.session.user_level == 'Superadmin' %}
{% include 'superadmin_base.html' %}
{% elif request.session.user_level == 'Admin' %}
{% include 'admin_base.html' %}
{% elif request.session.user_level == 'User' %}
{% include 'faculty_base.html' %}
{% else %}
{% include 'accreditor_base.html' %}
{% endif %}
{% block content %}
<br>
<br>

<div  class="content h-50" style="background-color: gainsboro;">
    <header class="h-20" style="width: 90vw; height: 67px; text-align: center; background-color: #61B15A;">
        <h1>Accreditation Management System</h1>
    </header>
    <h1 class="m-5">Department Name</h1>
    
    <div class="p-20">
        {% csrf_token %}
        
        {% if department == 'IT' %}
        <select data-role="select" class="w-25" id="selectDepartment">
            <option value="IT" selected>IT Department</option>
            <option value="HRM">Hospitality and Toursim Department</option>
            <option value="INDUSTRIAL">Industrial Department</option>
            <option value="EDUC">Education Department</option>
        </select>
        {% elif department == 'HRM'%}
        <select data-role="select" class="w-25" id="selectDepartment">
            <option value="IT">IT Department</option>
            <option value="HRM" selected>Hospitality and Toursim Department</option>
            <option value="INDUSTRIAL">Industrial Department</option>
            <option value="EDUC">Education Department</option>
        </select>
        {% elif department == 'INDUSTRIAL'%}
        <select data-role="select" class="w-25" id="selectDepartment">
            <option value="IT">IT Department</option>
            <option value="HRM">Hospitality and Toursim Department</option>
            <option value="INDUSTRIAL" selected>Industrial Department</option>
            <option value="EDUC">Education Department</option>
        </select>
        {% elif department == 'EDUC'%}
        <select data-role="select" class="w-25" id="selectDepartment">
            <option value="IT">IT Department</option>
            <option value="HRM">Hospitality and Toursim Department</option>
            <option value="INDUSTRIAL">Industrial Department</option>
            <option value="EDUC" selected>Education Department</option>
        </select>
        {% endif %}
            
       
        <br>
        <button class="button primary" onclick="Metro.dialog.open('#add_account')">Add Account</button>
        <br>
        <br>
        <table class="table striped" data-role="table" data-rows-steps="5, 10" data-rows="5">
            <thead>
                <tr>
                    <th  class="sortable-column sort-asc">Department</th>
                    <th class="sortable-column sort-asc">Name</th>
                    <th  class="sortable-column sort-asc">Email</th>
                    <th class="sortable-column sort-asc">Contact No.</th>
                    <th class="sortable-column sort-asc">Address</th>
                    <th class="sortable-column sort-asc">User Level</th>
                    <th class="sortable-column sort-asc">Edit</th>
                </tr>
                </thead>
                <tbody>
                <!-- <div class="account_data_modal"> -->
                    {% for user in user_data %}
                    <tr>
                        <td class="info">{{user.access_rights}}</td>
                        <td>{{user.firstname}} {{user.middlename}} {{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td class="info">{{user.contact}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.user_level}}</td>
                        <td>
                            {% if request.session.user_level == 'Admin' and  user.user_level == 'Admin' %}
                            <p style="font-size: 12px;">You can't modify admin accounts.</p>
                            <button class="button success" style="cursor: not-allowed;" disabled>Edit</button>
                            <button class="button alert" style="cursor: not-allowed;" disabled> Delete</button>
                            {% else %}
                            <button class="button success" onclick="Metro.dialog.open('#edit_account'), editModal('{{user.user_id}}','{{user.firstname}}','{{user.middlename}}','{{user.lastname}}','{{user.email}}','{{user.contact}}','{{user.address}}','{{user.birthdate}}','{{user.user_level}}','{{ request.session.user_level }}')">Edit</button>
                            <button class="button alert" onclick="Metro.dialog.open('#delete_dialog'), get_user_id('{{user.user_id}}')"> Delete</button>
                            {% endif %}
                        </td>
                    </tr>
                
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="dialog" data-role="dialog" id="add_account">
    <form id="addAccountForm" method="post">
     {% csrf_token %}
        <div class="dialog-title"></div>
        <div class="dialog-content">
            <p>USER LEVEL</p>
            <input type="radio" data-role="radio" name="access_rights" id="admin" value="Admin"> Admin
            <input type="radio" data-role="radio" checked name="access_rights" id="user" value="User"> User
            <br>
            <label for="first name">First Name:</label>
            <input type="text" data-role="input" name="firstname" id="firstname" required>
            <label for="first name">Middle Name:</label>
            <input type="text" data-role="input" name="middlename" id="middlename" required>
            <label for="first name">Last Name:</label>
            <input type="text" data-role="input" name="lastname" id="lastname" required>
            <label for="first name">Email:</label>
            <input type="email" data-role="input" name="email" id="email" required>
            <label for="first name">Password :</label>
            <input type="password" data-role="input" data-reveal-button="true" name="password" id="password" required>
            <label for="first name">Confirm password:</label>
            <input type="password" data-role="input" data-reveal-button="true" name="confirm_password" id="confirm_password" required>
            <label for="first name">Contact No::</label>
            <input type="number" data-role="input" data-prepend="+63" name="contact" id="contact" required>
            <label for="first name">Address:</label>
            <input type="text" data-role="input" name="address" id="address" required>
            <label for="first name">Date of Birth:</label>
            <input type="date" id="birthdate" data-role="input" required>
        </div>
        <div class="dialog-actions">
            <button type="button" class="button js-dialog-close">Cancel</button>
            <button type="submit" class="button primary js-dialog-close" id="addAccountBtn">Save</button>
        </div>
    </form>
</div>

<div class="dialog" data-role="dialog" id="edit_account">
    <form id="edit_addAccountForm" method="post">
     {% csrf_token %}
        <div class="dialog-title"></div>
        <div class="dialog-content">
            {% if request.session.user_level == 'Superadmin' %}
            <p>USER LEVEL</p>
            <input type="radio" data-role="radio" name="edit_access_rights" id="edit_admin" value="Admin"> Admin
            <input type="radio" data-role="radio" name="edit_access_rights" id="edit_user" value="User"> User
            {% endif %}
            <br>
            <label for="first name">First Name:</label>
            <input type="text" data-role="input" name="edit_firstname" id="edit_firstname" required>
            <label for="first name">Middle Name:</label>
            <input type="text" data-role="input" name="edit_middlename" id="edit_middlename">
            <label for="first name">Last Name:</label>
            <input type="text" data-role="input" name="edit_lastname" id="edit_lastname" required>
            <label for="first name">Email:</label>
            <input type="email" data-role="input" name="edit_email" id="edit_email" readonly required>
            <label for="first name">Contact No::</label>
            <input type="number" data-role="input" data-prepend="+63" name="edit_contact" id="edit_contact" required>
            <label for="first name">Address:</label>
            <input type="text" data-role="input" name="edit_address" id="edit_address" required>
            <label for="first name">Date of Birth:</label>
            <input type="date" id="edit_birthdate" data-role="input" required>

            <input type="hidden" id="edit_user_id" >
        </div>
        <div class="dialog-actions">
            <button type="button" class="button js-dialog-close">Cancel</button>
            <button type="submit" class="button primary js-dialog-close" id="edit_addAccountBtn">Save</button>
        </div>
    </form>
</div>

<div class="dialog" data-role="dialog" id="delete_dialog">
     {% csrf_token %}
        <div class="dialog-title">Delete Dialog</div>
        <div class="dialog-content">
            Delete this user?
        </div>
        <div class="dialog-actions">
            <button type="button" class="button js-dialog-close">No</button>
            <button type="submit" class="button alert js-dialog-close" onclick="delete_user()">Yes</button>
        </div>
</div>

<script>
    var user_id = "";
    function get_user_id(user_id){
        this.user_id = user_id
    }
    function delete_user(){
        window.location.href = "{% url 'delete_user' %}" + "?user_id=" + user_id    }
</script>
{% endblock %}