{% if request.session.user_level == 'Admin' %}
{% include 'superadmin_base.html' %}
{% elif request.session.user_level == 'User' %}
{% include 'faculty_base.html' %}
{% endif %}
{% block content %}
<br>
<br>

<div  class="content" style="background-color: gainsboro; overflow-y: auto;">
    <header class="h-20" style="width: 90vw; height: 67px; text-align: center; background-color: #61B15A;">
        <h1>Accreditation Management System</h1>
    </header>
    <h1 class="m-5">TO-DO List</h1>
    
    <div class="p-10">       
        <br>
        <button class="button primary" onclick="Metro.dialog.open('#add_task')">Add Task</button>
        <br>
        <br>
        <table class="table striped"  data-rows-steps="5, 10" data-rows="5" style="background-color: white;"> 
            <thead>
                <tr>
                    <th  class="sortable-column sort-asc">Task Title</th>
                    <th  class="sortable-column sort-asc">Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for data in todo_list %}
                    <tr>
                        {% if data.status == 'undone' %}
                        <td class="yellow">{{data.task_title}}</td>
                        <td><button class="button success w-25" style="margin: 10px;" onclick="Metro.dialog.open('#finish_task'), finish_task('{{data.status}}','{{data.todo_id}}')">Mark as Done</button><button class="button primary w-25" style="margin: 10px;" onclick="Metro.dialog.open('#edit_task'), edit_task('{{data.task_title}}')">Edit</button><button class="button alert w-25" onclick="Metro.dialog.open('#delete_task'), get_id('{{data.todo_id}}')">Delete</button></td>
                        {% else %}
                        <td class="success">{{data.task_title}}</td>
                        <td><button class="button warning w-25" style="margin: 10px;" onclick="Metro.dialog.open('#finish_task'), finish_task('{{data.status}}','{{data.todo_id}}')">Mark as Undone</button><button class="button primary w-25" style="margin: 10px;" onclick="Metro.dialog.open('#edit_task'), edit_task('{{data.task_title}}')">Edit</button><button class="button alert w-25" onclick="Metro.dialog.open('#delete_task'), get_id('{{data.todo_id}}')">Delete</button></td>
                        {% endif %}
                        
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="dialog" data-role="dialog" id="add_task">
     {% csrf_token %}
        <div class="dialog-title">What's your next task?</div>
        <div class="dialog-content">
            <div class="form-group">
                <label for="task_title">Task title</label>
                <input type="text" data-role="input" id="task_title" placeholder="Enter task title" required>
            </div>
        </div>
        <div class="dialog-actions">
            <button type="button" class="button js-dialog-close">Cancel</button>
            <button type="submit" class="button primary js-dialog-close" onclick="add_task()">Add</button>
        </div>
</div>

<div class="dialog" data-role="dialog" id="edit_task">
        <div class="dialog-title">Edit your task?</div>
        <div class="dialog-content">
            <div class="form-group">
                <label for="task_title">Task title</label>
                <input type="text" data-role="input" id="edit_task_title" placeholder="Enter task title" required>
            </div>
        </div>
        <div class="dialog-actions">
            <button type="button" class="button js-dialog-close">Cancel</button>
            <button type="submit" class="button primary js-dialog-close" >Save</button>
        </div>
</div>

<div class="dialog" data-role="dialog" id="delete_task">
    {% csrf_token %}
       <div class="dialog-title">Delete this task?</div>
       <div class="dialog-content">
           Delete this task?
       </div>
       <div class="dialog-actions">
           <button type="button" class="button js-dialog-close">Cancel</button>
           <button type="submit" class="button primary js-dialog-close" onclick="delete_task()">Delete</button>
       </div>
</div>

<script>
    var todo_id;
    function add_task(){
        var task_title = $('#task_title').val();
        window.location.href = "../add_task?task_title="+ task_title;
    }
    function edit_task(task_title){
        $('#edit_task_title').val(task_title);
    }
    function finish_task(status,todo_id){
        window.location.href = "../finish_task?status="+ status +"&todo_id=" + todo_id;
    }
    function get_id(todo_id){
        this.todo_id = todo_id;
    }
    function delete_task(){
        window.location.href = "../delete_task?todo_id=" + todo_id;
    }
</script>
{% endblock %}